.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 70% !important;
  margin: 0 auto !important;
  padding: 20px;
  box-sizing: border-box;
}

